*.P0*
*.b0*
*.ss
*.tmp
*.dep
*.rep
*.exe
*.log
*.ss*
*.bar
*.cor
*.eva
*.std
*.cov
*.csv
*.hes
*.r0*
*.par
.Rproj.user/2B1B628E/console06/INDEX001
.Rproj.user/2B1B628E/pcs/debug-breakpoints.pper
.Rproj.user/2B1B628E/pcs/files-pane.pper
.Rproj.user/2B1B628E/pcs/source-pane.pper
.Rproj.user/2B1B628E/pcs/windowlayoutstate.pper
.Rproj.user/2B1B628E/pcs/workbench-pane.pper
.Rproj.user/2B1B628E/persistent-state
.Rproj.user/2B1B628E/rmd-outputs
.Rproj.user/2B1B628E/saved_source_markers
.Rproj.user/2B1B628E/sources/prop/1C9E4E24
.Rproj.user/2B1B628E/sources/prop/INDEX
.Rproj.user/2B1B628E/sources/s-CF8E212A/F3FCCBAE
.Rproj.user/2B1B628E/sources/s-CF8E212A/F3FCCBAE-contents
.Rproj.user/2B1B628E/sources/s-CF8E212A/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
*.sso
